html, body {
  height: 100vh;
  margin: 0;
}

.vertical {
  height: 100%;    
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + vmin);
  color: #61dafb;
  width: 1000px;
}